Repository d4l-data4life/hc-fhir-helper-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, library, sample-android, sample-jvm

Bump Gradle
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Bump Kotlin
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: none

Bump AGP
  CHANGELOG.adoc
  fhir-helper/build.gradle.kts
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
  settings.gradle.kts
Labels: documentation, library

Bump other dependencies
  CHANGELOG.adoc
  gradle.properties
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Bump Gradle Enterprise Plugin
  settings.gradle.kts
Labels: none

Bump script dependencies
  buildSrc/build.gradle.kts
Labels: dependencies

Fix Download Script
  buildSrc/src/main/kotlin/care/data4life/gradle/fhir/helper/script/download-scripts.gradle.kts
Labels: scripts, dependencies

Enable Java 11 on CI
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Update Docs
  DEVELOPING.adoc
  README.adoc
Labels: documentation

Prepare Release of 1.8.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Bump Gradle
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Bump AGP
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Bump Kotlin
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Bump Android Dependencies
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Bump FHIR-Lib
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: none

Bump Mockito
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: none

Remove HC-Result
  CHANGELOG.adoc
  fhir-helper/build.gradle.kts
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Dependency.kt
Labels: documentation, library

Adjust Danger
  Dangerfile.df.kts
Labels: none

Bump git hook
  buildSrc/build.gradle.kts
Labels: dependencies

Reduce noise
  build.gradle.kts
  buildSrc/build.gradle.kts
  fhir-helper/build.gradle.kts
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Insurance.kt
Labels: dependencies, library

Bump KTLint
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Spotless
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Dependency Update
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Danger
  .github/workflows/d4l-ci-pull-request-precheck.yml
Labels: build

Bump HC Dependencies
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Adjust Dependencies
  fhir-helper/build.gradle.kts
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/FHIRHelpersTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/CarePlanBuilderTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/FHIRHelpersTest.kt
  fhir-helper/src/commonMain/kotlin/care/data4life/sdk/helpers/lang/DataRestrictionException.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/CarePlanBuilderTest.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Dependency.kt
Labels: library

Prepare Release of 1.9.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Bump Android Target SDK
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/kotlin/care/data4life/gradle/fhir/helper/config/LibraryConfig.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: dependencies, documentation

Bump Robolectric
  buildSrc/src/main/kotlin/care/data4life/gradle/fhir/helper/script/quality-spotless.gradle.kts
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Dependency.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: scripts, dependencies

Bump HC-Utils
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Prepare Release of 1.10.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/gradle/fhir/helper/dependency/Version.kt
Labels: documentation

Add missing Changelog Entries (HC Util 1.14.0 & HC FHIR Java 1.9.0)
  CHANGELOG.adoc
Labels: documentation

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/fhir/helper/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - fhir-helper/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
