Repository d4l-data4life/hc-fhir-helper-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE.adoc
  - CHANGELOG.adoc
  - CONTRIBUTION.adoc

# Platform
library:
  - fhir-helper/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

fix Observation builder
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/ObservationBuilder.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/ObservationHelperTest.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/ObservationBuilder.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/ObservationHelperTest.kt
Labels: library

fix Observation builder
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/ObservationBuilder.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/ObservationHelperTest.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/ObservationBuilder.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/ObservationHelperTest.kt
Labels: library

clean up tests
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/ObservationHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/ObservationHelperTest.kt
Labels: library

Update changelog and add 1.4.0 section
  CHANGELOG.adoc
Labels: documentation

Bump version to 1.4.0
  README.adoc
  buildSrc/src/main/java/LibraryConfig.kt
Labels: dependencies, documentation

Bumpd Gradle 6.5 -> 6.7.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Change settings.gradle to Kotlin script
  settings.gradle
  settings.gradle.kts
Labels: none

Add copyright for Intellij IDEA
  .idea/compiler.xml
  .idea/copyright/data4life.xml
  .idea/copyright/profiles_settings.xml
Labels: none

Update buildSrc dependencies and library config BREAKING minSDK 21 -> 23 and compile/target SDK 29 -> 30
  buildSrc/src/main/java/AndroidConfig.kt
  buildSrc/src/main/java/Dependencies.kt
  buildSrc/src/main/java/LibraryConfig.kt
  buildSrc/src/main/java/Versions.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Change build.gradle to Kotlin Script
  build.gradle
  build.gradle.kts
Labels: none

Update gradle.properties to use AndroidX
  gradle.properties
Labels: none

Remove old jvm implementation that moved into the fhir-helper jvm source folder
  jvm/.gitignore
  jvm/build.gradle
  jvm/src/test/kotlin/care/data4life/sdk/helpers/AttachmentHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/CarePlanBuilderTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/CarePlanExtensionTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/DiagnosticReportHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/DocumentReferenceHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/DosageHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/FHIRHelpersTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/MedicationHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/MedicationIngredientHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/MedicationRequestHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/ObservationHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/ObservationReferenceRangeHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/OrganizationHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/PatientHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/helpers/PractitionerHelperTest.kt
  jvm/src/test/kotlin/care/data4life/sdk/test/util/FileHelper.kt
  jvm/src/test/resources/careplan-inline.json
Labels: none

Change fhir-helper/build.gradle to KotlinScript and convert to Kotlin 1.4.0 mutiplatform setup
  fhir-helper/android.gradle
  fhir-helper/build.gradle
  fhir-helper/build.gradle.kts
  fhir-helper/proguard-rules.pro
Labels: library

Change tests for android to be included in the multiplatform and removed unused android project
  android/.gitignore
  android/build.gradle
  android/proguard-rules.pro
  android/src/androidTest/kotlin/care/data4life/sdk/test/util/FileHelper.java
  android/src/androidTest/resources/careplan-inline.json
  android/src/main/AndroidManifest.xml
  android/src/main/java/care/data4life/android/MainActivity.kt
  android/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/src/main/res/drawable/ic_launcher_background.xml
  android/src/main/res/layout/activity_main.xml
  android/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/src/main/res/mipmap-hdpi/ic_launcher.png
  android/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/src/main/res/mipmap-mdpi/ic_launcher.png
  android/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/src/main/res/values/colors.xml
  android/src/main/res/values/strings.xml
  android/src/main/res/values/styles.xml
  fhir-helper/build.gradle.kts
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
Labels: library

Add new CI workflow setup to release snapshot and features
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/d4-publish-artifact.yml
  .github/workflows/d4l-ci-kmp.yml
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Update README
  README.adoc
Labels: documentation

Add changelog entries
  CHANGELOG.adoc
Labels: documentation

Cleanup
  .idea/compiler.xml
  README.adoc
  build.gradle.kts
Labels: documentation

add code of conduct
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
Labels: documentation

Bump FHIR SDK 1.0.0 -> 1.1.0
  CHANGELOG.adoc
  buildSrc/src/main/java/Versions.kt
Labels: dependencies, documentation

Prepare release 1.4.1
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/java/LibraryConfig.kt
Labels: dependencies, documentation

Fix merge conflict
  buildSrc/src/main/java/Versions.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Add issue template
  .github/ISSUE_TEMPLATE.md
Labels: build

Add new publishing and versioning scripts
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
  fhir-helper/build.gradle.kts
Labels: build, dependencies, library

Update Readme
  .github/workflows/d4l-ci-pull-request-validation.yml
  README.adoc
Labels: build, documentation

Bump Kotlin 1.4.10 -> 1.4.21
  README.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Cleanup
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/MedicationHelper.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/PatientHelper.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/CarePlanExtension.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/MedicationHelper.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/PatientHelper.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/CarePlanBuilderTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/CarePlanExtensionTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DiagnosticReportHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DosageHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/ObservationHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/OrganizationHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/CarePlanBuilderTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/CarePlanExtensionTest.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/PatientHelper.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/PatientHelper.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/DiagnosticReportHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/ObservationHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/OrganizationHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/DiagnosticReportHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/ObservationHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/OrganizationHelperTest.kt
Labels: library

Fix wrong import of stu3 FhirHelperConfig
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
Labels: library

Add codeowner file with PHDC Core KMP assignment
  .github/CODEOWNERS
Labels: build

Prepare release 1.5.0
  CHANGELOG.adoc
  README.adoc
Labels: documentation

Remove reattach head as we are already on a branch either main or release/*
  .github/workflows/d4l-ci-latest-version.yml
Labels: build

Change publish job by removing reattach head and patching the versioning script to allow the branch name to be null, as we only need the tag
  .github/workflows/d4l-ci-publish-release.yml
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
Labels: build, dependencies

Change pull-request validation job to use the branch reference and remove custom checkout
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Fix Gradle task race condition by disabling parallel execution
  gradle.properties
Labels: none

Fix target path
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
Labels: dependencies

Bump D4L FHIR SDK 1.1.0 -> 1.2.1
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation
