Repository d4l-data4life/hc-fhir-helper-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - fhir-helper/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Change copyright to latest version
  .idea/copyright/d4l_closed.xml
  .idea/copyright/data4life.xml
  .idea/copyright/profiles_settings.xml
Labels: none

Add Gradle download script
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
Labels: dependencies

Add Danger CI workflow and Dangerfile to configure it
  .github/workflows/d4l-ci-pull-request-precheck.yml
  Dangerfile.df.kts
Labels: build

Add dependency updates Gradle script
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/dependency-updates.gradle.kts
Labels: dependencies

Change existing scripts to latest version, which fixes an issue in the versioning script
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
Labels: dependencies

Add spotless code style Gradle script
  build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
Labels: dependencies

Bump Gradle 6.7.1 -> 6.8.3
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Bump Android Gradle Plugin 4.1.1 -> 4.1.3
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Fix danger
  .github/workflows/d4l-ci-pull-request-precheck.yml
Labels: build

Update Spotless Gradle script
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
Labels: dependencies

Change publishing to use one repository for releases, snapshots and features each
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
Labels: dependencies

Fix dependencies not existing anymore
  build.gradle.kts
Labels: none

Bump Updates
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  fhir-helper/build.gradle.kts
Labels: dependencies, documentation, library

Bump updates & Fix setup
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/res/careplan-inline.json
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
Labels: dependencies, documentation, library

Fix Dependency resolving
  build.gradle.kts
  buildSrc/src/main/kotlin/Repository.kt
Labels: dependencies

Update feature release
  .idea/compiler.xml
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Use release version
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Adds me as codeowner
  .github/CODEOWNERS
Labels: build

Updates docs
  CHANGELOG.adoc
  README.adoc
Labels: documentation

Removed unused headers
  CHANGELOG.adoc
Labels: documentation

Change docs
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  README.adoc
Labels: documentation

Adjust build setup
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/versioning.gradle.kts
  fhir-helper/build.gradle.kts
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/helpers-dependency/build.gradle.kts
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Dependency.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/DependencyPlugin.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/GradlePlugin.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Repository.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
  settings.gradle.kts
Labels: dependencies, library

Update README Header
  README.adoc
  assets/images/badge-license.svg
  assets/images/badge-platform-support.svg
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Update Changelog
  CHANGELOG.adoc
Labels: documentation

Update Workflows
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-precheck.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Mark util update as breaking
  CHANGELOG.adoc
Labels: documentation

Make DataRestrictionException a DomainError
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/commonMain/kotlin/care/data4life/sdk/helpers/lang/DataRestrictionException.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
Labels: library

Update Changelog
  CHANGELOG.adoc
Labels: documentation

Mark change as breaking
  CHANGELOG.adoc
Labels: documentation

Fix links
  README.adoc
Labels: documentation

Fix Platform badge
  assets/images/badge-platform-support.svg
Labels: none

Fix Version badge
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: none

Bump Result
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
Labels: documentation

Prepare release of 1.7.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Bump FHIR-SDK
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
Labels: documentation

Bump FHIR
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
Labels: documentation

Bump FHIR (1.6.2)
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
Labels: documentation

Bump FHIR 1.6.3
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
Labels: documentation

Prepare Release of 1.7.1
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Updates badge
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
Labels: documentation
