Repository d4l-data4life/hc-fhir-helper-sdk-kmp, pull requests merged in 2021-07, with the labels that each got.

#19 Add Alessio as codeowner
  .github/CODEOWNERS
Labels: build

#18 Bump Updates
  .idea/compiler.xml
  CHANGELOG.adoc
  README.adoc
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Repository.kt
  buildSrc/src/main/kotlin/Versions.kt
  fhir-helper/build.gradle.kts
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/res/careplan-inline.json
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/jvmTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
Labels: dependencies, documentation, library

#20 Prepare Release 1.6.0
  CHANGELOG.adoc
  README.adoc
Labels: documentation
