Repository d4l-data4life/hc-fhir-helper-sdk-kmp, pull requests merged in 2021-08, with the labels that each got.

#21 Change docs
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  README.adoc
Labels: documentation

#22 Change setup
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-precheck.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-license.svg
  assets/images/badge-platform-support.svg
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/helpers/versioning.gradle.kts
  fhir-helper/build.gradle.kts
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/helpers-dependency/build.gradle.kts
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Dependency.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/DependencyPlugin.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/GradlePlugin.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Repository.kt
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
  settings.gradle.kts
Labels: documentation, build, breaking, library, dependencies

#23 Change data restriction error
  CHANGELOG.adoc
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/androidMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/AttachmentHelperTest.kt
  fhir-helper/src/androidTest/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceHelperTest.kt
  fhir-helper/src/commonMain/kotlin/care/data4life/sdk/helpers/lang/DataRestrictionException.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/r4/DocumentReferenceBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/AttachmentBuilder.kt
  fhir-helper/src/jvmMain/kotlin/care/data4life/sdk/helpers/stu3/DocumentReferenceBuilder.kt
Labels: documentation, build, breaking, library, dependencies

#24 Bump Result
  CHANGELOG.adoc
  gradlePlugin/helpers-dependency/src/main/kotlin/care/data4life/sdk/helpers/dependency/Version.kt
Labels: documentation, dependencies

#25 Prepare Release 1.7.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation
