Repository d4l-data4life/hc-fhir-helper-sdk-kmp, pull requests merged in 2021-01, with the labels that each got.

#9 Add code of conduct
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
Labels: documentation

#13 Add codeowner file
  .github/CODEOWNERS
Labels: enhancement

#12 Prepare release 1.5.0
  CHANGELOG.adoc
  README.adoc
Labels: documentation

#14 Fix versioning with GitHub action
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
  gradle.properties
Labels: build
